<div>
  <div>
    <h1>
      List of all leagues
    </h1>
  </div>
</div>

<hr>


<div class="row row-cols-1 row-cols-md-3 g-4">
<% @list_of_leagues.each do |a_league| %>

<div class="col">

<div class="wrapper">
<div class="card border-secondary shadow p-3 mb-5 bg-body-tertiary rounded" >
  <img src=<%=a_league.image%> class="card-img-top card-img-top-RR" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center fs-3"><%= a_league.league_name %></h5>
    
    <h6 class="card-text fw-bold">Number of teams: <%=a_league.number_of_teams%></h6>
    <h6 class="card-text fw-bold">Start date: <%=a_league.start_date%></h6>
    <h6 class="card-text fw-bold">End date: <%=a_league.end_date%></h6>
    
    <a href="/leagues/<%=a_league.id%>" class="btn btn-primary ">Show details</a>

  </div>
</div>
</div>
</div>
<% end %>
</div>


<style>

  .wrapper {
    width: 400px;
    max-width: 100%;
   }

   .card-img-top-RR {
    width: 100%;             
    height: 350px;           
    object-fit: cover;     
}
</style>





<div>
  <div>
    <h2>
      Add a new league
    </h2>

    <form action="/insert_league" method="post">
      <div>
        <label for="league_id_box">
          League
        </label>

        <input type="text" id="league_id_box" name="query_league_id">
      </div>

      <div>
        <label for="league_name_box">
          League name
        </label>

        <input type="text" id="league_name_box" name="query_league_name">
      </div>

      <div>
        <label for="start_date_box">
          Start date
        </label>

        <input type="date" id="start_date_box" name="query_start_date">
      </div>

      <div>
        <label for="end_date_box">
          End date
        </label>

        <input type="date" id="end_date_box" name="query_end_date">
      </div>

      <div>
        <label for="number_of_teams_box">
          Number of teams
        </label>

        <input type="text" id="number_of_teams_box" name="query_number_of_teams">
      </div>

      <button>
        Create league
      </button>
    </form>
  </div>
</div>


<hr>
