<div>
  <div>
    <h1>
      League #<%= @the_league.id %> details
    </h1>

    <div>
      <div>
        <a href="/leagues">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_league/<%= @the_league.id %>">
          Delete league
        </a>
      </div>
    </div>

    <dl>

      <dt>
        League name
      </dt>
      <dd>
        <%= @the_league.league_name %>
      </dd>

      <dt>
        Start date
      </dt>
      <dd>
        <%= @the_league.start_date %>
      </dd>

      <dt>
        End date
      </dt>
      <dd>
        <%= @the_league.end_date %>
      </dd>

      <dt>
        Number of teams
      </dt>
      <dd>
        <%= @the_league.number_of_teams %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_league.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_league.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit league
    </h2>

    <form action="/modify_league/<%= @the_league.id %>"  method="post" >
    
      <div>
        <label for="league_name_box">
          League name
        </label>

        <input type="text" id="league_name_box" name="query_league_name" value="<%= @the_league.league_name %>">
      </div>

      <div>
        <label for="start_date_box">
          Start date
        </label>

        <input type="date" id="start_date_box" name="query_start_date" value="<%= @the_league.start_date %>">
      </div>

      <div>
        <label for="end_date_box">
          End date
        </label>

        <input type="date" id="end_date_box" name="query_end_date" value="<%= @the_league.end_date %>">
      </div>

      <div>
        <label for="number_of_teams_box">
          Number of teams
        </label>

        <input type="text" id="number_of_teams_box" name="query_number_of_teams" value="<%= @the_league.number_of_teams %>">
      </div>

      <button>
        Update league
      </button>
    </form>
  </div>
</div>

<hr>
