<div>
  <div>
    <h1>
      List of all players
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new player
    </h2>

    <form action="/insert_player" method="post">
      <div>
        <label for="player_id_box">
          Player
        </label>

        <input type="text" id="player_id_box" name="query_player_id">
      </div>

      <div>
        <label for="first_name_box">
          First name
        </label>

        <input type="text" id="first_name_box" name="query_first_name">
      </div>

      <div>
        <label for="last_name_box">
          Last name
        </label>

        <input type="text" id="last_name_box" name="query_last_name">
      </div>

      <div>
        <label for="position_box">
          Position
        </label>

        <input type="text" id="position_box" name="query_position">
      </div>

      <div>
        <label for="jersey_number_box">
          Jersey number
        </label>

        <input type="text" id="jersey_number_box" name="query_jersey_number">
      </div>

      <div>
        <label for="dob_box">
          Dob
        </label>

        <input type="date" id="dob_box" name="query_dob">
      </div>

      <div>
        <label for="team_id_box">
          Team
        </label>

        <input type="text" id="team_id_box" name="query_team_id">
      </div>

      <button>
        Create player
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Player
        </th>

        <th>
          First name
        </th>

        <th>
          Last name
        </th>

        <th>
          Position
        </th>

        <th>
          Jersey number
        </th>

        <th>
          Dob
        </th>

        <th>
          Team
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_players.each do |a_player| %>
      <tr>
        <td>
          <%= a_player.id %>
        </td>

        <td>
          <%= a_player.first_name %>
        </td>

        <td>
          <%= a_player.last_name %>
        </td>

        <td>
          <%= a_player.position %>
        </td>

        <td>
          <%= a_player.jersey_number %>
        </td>

        <td>
          <%= a_player.dob %>
        </td>

        <td>
          <%= a_player.team_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_player.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_player.updated_at) %> ago
        </td>

        <td>
          <a href="/players/<%= a_player.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
