<div>
  <div>
    <div class="d-flex justify-content-center">
      <div class="card border-0" style="width: 20rem;">
        <img src=<%=@the_player.avatar%> class="card-img-top card-img-top-RR" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center fs-3"><%= @the_player.first_name %> <%= @the_player.last_name %></h5>
          <h6 class="card-subtitle mb-2 text-center text-body-secondary"><%=@the_player.dob.strftime('%b %d, %Y')%></h6>
          <h6 class="card-text fw-bold">Position: <%=@the_player.position%></h6>
          <h6 class="card-text fw-bold">Jersey number: <%=@the_player.jersey_number%></h6>
          <a  class="align-center btn btn-primary" href="/teams/<%=@the_player.team_id%>" >
          <%team= Team.where({:id => @the_player.team_id}).at(0)%>
          <%=team.team_name%>
          </a>
          <a class="align-center btn btn-success" href="/leagues/<%=id=League.where({:id => team.league_id}).at(0).id%>" ><%=league=League.where({:id => team.league_id}).at(0).league_name%></a>
          
        </div>
        
      </div>
    </div>


<%if current_user!=nil%>
<hr>

<div>
  <div>
    <h2>
      Edit <%=@the_player.first_name%> <%=@the_player.last_name%>
    </h2>

    <form action="/modify_player/<%=@the_player.id%>" method="post">
      
       <div>
        <label for="first_name_box">
          First name
        </label>

        <input type="text" id="first_name_box" name="query_first_name" value="<%=@the_player.first_name%>">
      </div>

      <div>
        <label for="last_name_box">
          Last name
        </label>

        <input type="text" id="last_name_box" name="query_last_name" value="<%=@the_player.last_name%>">
      </div>

      <div>
        <label for="position_box">
          Position
        </label>

        <input type="text" id="position_box" name="query_position" value="<%=@the_player.position%>"
      </div>

      <div>
        <label for="jersey_number_box">
          Jersey number
        </label>

        <input type="text" id="jersey_number_box" name="query_jersey_number" value="<%=@the_player.jersey_number%>">
      </div>

      <div>
        <label for="dob_box">
          Dob
        </label>

        <input type="date" id="dob_box" name="query_dob" value="<%=@the_player.dob%>">
      </div>

      <div>
        <label for="team_name_box">
          Team name
        </label>

        <input type="text" id="team_name_box" name="query_team_name" value="<%=Team.where({:id=>@the_player.team_id}).at(0).team_name%>">
      </div>
   


      <button>
        Edit team
      </button>
    </form>
  </div>
</div>
<%end%>


      
    