<div>
  <div>
    <h1>
      Match details
    </h1>


<table class="table table-striped table-hover ">
      <thead >
        <tr >
          <th scope="col">League name</th>
          <th scope="col">Match date</th>
          <th scope="col">Home team</th>
          <th scope="col">Home goals</th>
          <th scope="col">Away goals</th>
          <th scope="col">Away Team</th>
         
      </tr>
      </thead>
      <tbody class="table-group-divider">

      <tr>
           <td><a class="btn btn-primary" href="/leagues/<%=Team.where({ :id => @the_match.home_team_id }).at(0).league_id%>"><%= name = League.where({:id =>Team.where({ :id => @the_match.home_team_id }).at(0).league_id}).at(0).league_name%></a></td>
           <td><%= @the_match.match_date.strftime('%b %d, %Y') %></td>
           <td><a class="btn btn-secondary" href="/teams/<%=@the_match.home_team_id%>"><%= home_teams = Team.where({ :id => @the_match.home_team_id }).at(0).team_name%></a></td>
           <td><%= @the_match.home_score %></td>
           <td><%= @the_match.away_score %></td>
           <td><a class="btn btn-secondary" href="/teams/<%=@the_match.away_team_id%>"><%= away_teams = Team.where({ :id => @the_match.away_team_id }).at(0).team_name%></a></td>

      </tr>
      
        
        </tbody>
      </table>




<%if current_user!=nil%>
<hr>
<div>
  <div>
    <h2>
      Edit match
    </h2>

    <form action="/modify_match/<%= @the_match.id %>"  method="post" >
      <div>
        <label for="league_name_box">
          League
        </label>

        <input type="text" id="league_name_box" name="query_league_name" value="<%=League.where({:id=>@the_match.league_id}).at(0).league_name%>">
      </div>

      <div>
        <label for="home_team_name_box">
          Home team
        </label>

        <input type="text" id="home_team_name_box" name="query_home_team_name" value="<%= Team.where({:id=>@the_match.home_team_id}).at(0).team_name %>">
      </div>

      <div>
        <label for="away_team_name_box">
          Away team
        </label>

        <input type="text" id="away_team_name_box" name="query_away_team_name" value="<%= Team.where({:id=>@the_match.away_team_id}).at(0).team_name %>">
      </div>

      <div>
        <label for="match_date_box">
          Match date
        </label>

        <input type="date" id="match_date_box" name="query_match_date" value="<%= @the_match.match_date %>">
      </div>

      <div>
        <label for="home_score_box">
          Home score
        </label>

        <input type="text" id="home_score_box" name="query_home_score" value="<%= @the_match.home_score %>">
      </div>

      <div>
        <label for="away_score_box">
          Away score
        </label>

        <input type="text" id="away_score_box" name="query_away_score" value="<%= @the_match.away_score %>">
      </div>

      <button>
        Update match
      </button>
    </form>
  </div>
</div>

<% end%>
